<%= form_for(@points, url: {action: "create"}, html: {class: "form-horizontal form-points"}) do |point| %>

    <div class="form-group">
      <%= point.label :given_to, class: "control-label col-md-4" %>
        <div class="col-md-4">
          <%= point.collection_select(:given_to, Employee.all, :id, :ecode, include_blank: "Select...") %>
        </div>
      </div>

      <div class="form-group">
        <%= point.label :category_id, class: "control-label col-md-4" %>
          <div class="col-md-4">
            <%= point.collection_select(:category_id, Category.all, :id, :name, include_blank: "Select...") %>
          </div>
        </div>

        <div class="form-group">
          <%= point.label :project, class: "control-label col-md-4" %>
            <div class="col-md-4">
              <%= point.text_field :project, class: "text-field form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= point.label :task, class: "control-label col-md-4" %>
                <div class="col-md-4">
                  <%= point.text_field :task, class: "text-field form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= point.label :comment, class: "control-label col-md-4" %>
                    <div class="col-md-4">
                      <%= point.text_area :comment, class: "text-area form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= point.label :manager, class: "control-label col-md-4" %>
                        <div class="col-md-4">
                          <%= point.text_field :manager, class: "text-field form-control" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-offset-4 col-md-8">
                            <%= point.submit "Appreciate", class: "btn btn-primary" %>
                            </div>
                          </div>

                        <% end %>