<% if @points.present? %>
  <table>
    <tr>
      <th>Given By</th>
      <th>Project</th>
      <th>Category</th>
      <th>Stars</th>
      <th>Task</th>
      <th>Comment</th>
      <th>Manager</th>
    </tr>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.employee.ecode %></td>
        <td><%= point.project %></td>
        <td><%= point.category.name %></td>
        <td><%= point.category.stars %></td>
        <td><%= point.task %></td>
        <td><%= point.comment %></td>
        <td><%= point.manager %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <label>No points yet!</label>
<% end %>
<%= link_to "List Given Points", employee_points_path(current_employee.id) %>