<% if @points.present? %>
  <table>
    <tr>
      <th>Given By</th>
      <th>Project</th>
      <th>Category</th>
      <th>Task</th>
      <th>Comment</th>
      <th>Manager</th>
    </tr>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.given_by %></td>
        <td><%= point.project %></td>
        <% category = Category.find(point.category_id) %>
        <% category_name = category.name %>
        <td><%= category_name %></td>
        <td><%= point.task %></td>
        <td><%= point.comment %></td>
        <td><%= point.manager %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <label>Nothing to display</label>
<% end %>
